*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, purple, pink, pink, yellow);
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}